<h1>Program Details</h1>
show
  <div class="span8">
<% if not @program.nil? %>
      <h3><%= @program.name %></h3>
      <ul class="microposts">
      	<li><strong>Address:</strong></li>
        <li><%= @program.street %><li>
        <li><%= @program.city %><li>
      </ul>
    <% end %>
  </div>

